.section {
  width: 540px;
  margin: 0 auto;
  padding: 20px 30px;
  outline: 1px solid;
  margin-bottom: 20px;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
}

.text {
  font-size: 32px;
  text-align: center;
  text-shadow: var(--text-shadow);
  margin-bottom: 8px;
}
